#NARBARBRO{
    background: #C9082A;
   border: 2px solid black;
   
}

.navbarwords{
    color: white;
}
.navlinks{
    color: white;
}
#searchyourplayers{
    display: flex;
    align-items: center;
    justify-content: center;
}

#hollup {
    background-image: url('./basketballfire.jpg'); /* Assuming 'arena' is the image file */
    border: 2px solid black;
    color: white;
margin: 0px;
padding: 0px;
}
